[Unit]
Description=Hacocoon Docker Engine compatibility daemon
Documentation=https://docs.docker.com/engine/
Requires=hacocoon-docker.socket containerd.service
After=hacocoon-docker.socket containerd.service network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=0
Restart=on-failure
RestartSec=2
Delegate=yes
KillMode=process
OOMScoreAdjust=-500
